<h1><%= @outing.name %></h1>
<h2>Location: <%= @outing.location %></h2>
<h2>Date: <%= @outing.date %></h2>
<h3>Count of contestants: <%= @outing.contestants_count %></h3>
<h3>Contestants: <%= @outing.contestant_names.join(", ") %></h3>
